<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link rel="stylesheet" th:href="@{/css/explore.css}">
    <link rel="icon" href="./images/logo.png">
    <script src="./js/explore.js"></script>
</head>
<body>
    <!-- 헤더 -->
    <header class="header-main">
        <div class="logo">
            <input type="image" src="./images/logo.png" alt="로고">
        </div>
        <!-- 네비게이션 -->
        <nav>
            <ul>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#upload">Upload</a></li>
                <li><a href="#randompicture">RandomPicture</a></li>
            </ul>
        </nav>
    </header>
    <!-- 메인 세션 -->
    <main>
        <!-- 검색 및 필터 -->
        <section id="search-filter">
            <div class="filter-container">
                <input type="text" placeholder="Search photos" class="search-input">
                <select>
                    <option value="latest">최신</option>
                    <option value="popular">인기</option>
                    <option value="oldest">옛날</option>
                </select>
                <button>Search</button>
            </div>
            <!-- 태그 섹션 -->
            <div class="tag-container">
                <h3>Tags:</h3>
                <div class="tags">
                    <a href="#">#Nature</a>
                    <a href="#">#Dog</a>
                    <a href="#">#Animals</a>
                </div>
            </div>
        </section>
        <!-- 인기 사진 -->
        <section id="popular-picture">
            <h2>Popular Pictures</h2>
            <div class="photo-list">
                <div class="photo-card">
                    <img src="./images/dog.jpeg" alt="image1">
                    <p>텐 7살 시바견</p>
                    <textarea placeholder="댓글을 입력하세요"></textarea>
                    <div class="button-group">
                        <button class="like-btn">🩷</button>
                        <button class="good-btn">👍🏻</button>
                    </div>
                </div>

                <div class="photo-card">
                    <img src="./images/dog2.jpeg" alt="image2">
                    <p>토토 9살 시바견</p>
                    <textarea placeholder="댓글을 입력하세요"></textarea>
                    <div class="button-group">
                        <button class="like-btn">🩷</button>
                        <button class="good-btn">👍🏻</button>
                    </div>
                </div>

                <div class="photo-card">
                    <img src="./images/dog3.jpeg" alt="image3">
                    <p>말티푸</p>
                    <textarea placeholder="댓글을 입력하세요"></textarea>
                    <div class="button-group">
                        <button class="like-btn">🩷</button>
                        <button class="good-btn">👍🏻</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- 페이지네이션 -->
    <section id="pagination">
        <div class="prev-container">
            <a href="#prev">prev</a>
            <a href="#prev">1</a>
            <a href="#prev">2</a>
        </div>
    </section>
    <!-- 푸터 -->
    <footer>
        &copy; 2025 Daegu Univ Open AI project, Group 3
    </footer>
</body>
</html>