<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhotoMania 500</title>
  <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<header>
  <a th:href="@{/main}"><img th:src="@{/images/cameraIcon.png}" alt="이미지x"></a>
</header>

<nav>
  <h1>500 Error</h1>
  <strong><p>서버에서 예기치 않은 문제가 발생했습니다</p></strong>
  <p>잠시후 다시 시도 해주세요.</p>
</nav>

<footer>
  &copy; 2025 Daegu Univ Open AI project, Group 3
</footer>
</body>
</html>