<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link rel="stylesheet" th:href=@{"/css/explore.css"}>
    <link rel="icon" th:href=@{"/images/cameraicon.png"}>
    <script defer th:src=@{"/js/explore.js"}></script>
</head>
<body>
<!-- 헤더 -->
<header class="header-main">
    <div class="logo">
        <a href="#"><img th:src=@{"/images/cameraicon.png"} alt="로고"></a>
    </div>
    <!-- 버튼 -->
    <div class="but-group">
        <button data-category="animal">동물</button>
        <button data-category="flower">꽃</button>
        <button data-category="city">도시</button>
        <button data-category="nature">자연</button>
    </div>
</header>

<!-- 메인 -->
<main>
    <!-- 동물이미지 -->
    <div class="images animal active">
        <img th:src="@{/images/동물1.jpeg}" alt="동물1">
        <img th:src="@{/images/동물2.jpeg}" alt="동물2">
        <img th:src="@{/images/동물3.jpeg}" alt="동물3">
        <img th:src="@{/images/동물4.jpeg}" alt="동물4">
        <img th:src="@{/images/동물5.jpeg}" alt="동물5">
        <img th:src="@{/images/동물6.jpeg}" alt="동물6">
    </div>
    <!-- 꽃 이미지 -->
    <div class="images flower">
        <img th:src="@{/images/꽃1.jpeg}" alt="꽃1">
        <img th:src="@{/images/꽃2.jpeg}" alt="꽃2">
        <img th:src="@{/images/꽃3.jpeg}" alt="꽃3">
        <img th:src="@{/images/꽃4.jpeg}" alt="꽃4">
        <img th:src="@{/images/꽃5.png}" alt="꽃5">
        <img th:src="@{/images/꽃6.jpeg}" alt="꽃6">
    </div>
    <!-- 도시 이미지 -->
    <div class="images city">
        <img th:src="@{/images/도시1.jpeg}" alt="도시1">
        <img th:src="@{/images/도시2.png}" alt="도시2">
        <img th:src="@{/images/도시3.jpeg}" alt="도시3">
        <img th:src="@{/images/도시4.jpeg}" alt="도시4">
        <img th:src="@{/images/도시5.jpeg}" alt="도시5">
        <img th:src="@{/images/도시6.jpeg}" alt="도시6">
    </div>
    <!-- 자연 이미지 -->
    <div class="images nature">
        <img th:src="@{/images/자연1.jpeg}" alt="자연1">
        <img th:src="@{/images/자연2.png}" alt="자연2">
        <img th:src="@{/images/자연3.jpeg}" alt="자연3">
        <img th:src="@{/images/자연4.png}" alt="자연4">
        <img th:src="@{/images/자연5.jpeg}" alt="자연5">
        <img th:src="@{/images/자연6.jpeg}" alt="자연6">
    </div>
</main>

<!-- 푸터 -->
<footer>
    &copy; 2025 Daegu Univ Open AI project, Group 3
</footer>
</body>
</html>