<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-main">
        <a th:href="@{/main}">
        <p class="logo"><input type="image" th:src="@{/images/cameraicon.png}" alt="logo"></p>
        </a>
    </div>
</header>
<main>
    <div class="login-gn">
        <div class="login-form">
            <form action="/dologin" method="post">
                <div class="ID">
                    <p>ID<input type="text" id="id" name="id" required></p>
                </div>
                <div class="PW">
                    <p>PW<input type="password" id="pw" name="pw" required></p>
                </div>
                <div class="login-keep">
                    <div>
                        <input type="checkbox" id="keep" name="nvlong" value="off" class="input-keep">
                        <label for="keep" class="keep_text">로그인 상태유지</label>
                    </div>
                </div>
                <button type="submit">
                    <span>로그인</span>
                </button>
            </form>
        </div>
        <ul>
            <a href="#">아이디찾기</a>
            <a href="#">비밀번호 찾기</a>
            <a th:href="@{/register}">회원가입</a>
        </ul>
        <div th:if="${error}" style="color: red;">
            <p>아이디 또는 비밀번호가 잘못되었습니다.</p>
        </div>
    </div>
</main>
<footer>
    &copy; 2025 Daegu Univ Open AI project, Group 3
</footer>
</body>
</html>
