<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" />
    <link rel="icon" th:href="@{/img/logo.png}">
</head>
<body>
<!-- 헤더 -->
<header class="header-main">
    <div class="logo">
        <a th:href="@{/main}">
            <img th:src="@{/images/cameraIcon.png}" alt="로고" />
        </a>
    </div>
</header>

<!-- 회원가입 컨테이너 -->
<div class="signup-gn">
    <h2>회원가입</h2>
    <form class="signup-form" th:action="@{/register}" method="post">
        <p><input type="text" name="id" placeholder="아이디" required /></p>
        <p><input type="password" name="pw" placeholder="비밀번호" required /></p>
        <p><input type="email" name="email" placeholder="이메일 주소" required /></p>
        <p><input type="text" name="name" placeholder="이름" required /></p>
        <p><input type="date" name="bDate" placeholder="생년월일" required /></p>

        <!-- 성별 선택 -->
        <div class="row">
            <label class="btn">
                <input type="radio" name="gender" value="남성" required /> 남자
            </label>
            <label class="btn">
                <input type="radio" name="gender" value="여성" required /> 여자
            </label>
        </div>

        <!-- 국적 선택 -->
        <div class="row">
            <label class="btn">
                <input type="radio" name="nationality" value="내국인" required /> 내국인
            </label>
            <label class="btn">
                <input type="radio" name="nationality" value="외국인" required /> 외국인
            </label>
        </div>

        <!-- 통신사 선택 및 휴대전화 번호 -->
        <div class="row">
            <select class="small-select" name="telecomProvider" required>
                <option value="">통신사</option>
                <option value="SKT">SKT</option>
                <option value="KT">KT</option>
                <option value="LGU+">LGU+</option>
                <option value="알뜰폰">알뜰폰</option>
            </select>
            <input type="tel" name="phoneNumber" placeholder="휴대전화 번호" class="large-input" required />
        </div>

        <!-- 회원가입 버튼 -->
        <button type="submit">회원가입</button>
    </form>
</div>

<!-- 푸터 -->
<footer>
    &copy; 2025 Daegu Univ Open AI project, Group3
</footer>
</body>
</html>
