<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link rel="stylesheet" th:href="@{/css/explore.css}">
    <link rel="icon" th:href="@{/images/cameraIcon.png}">
    <script th:src="@{/js/explore.js}"></script>
</head>
<body>
<!-- 헤더 -->
<header class="header-main">
    <div class="logo">
        <input type="image" th:src="@{/images/cameraIcon.png}" alt="로고">
    </div>
    <!-- 네비게이션 -->
    <nav>
        <ul>
            <li><a th:href="@{#upload}">Upload</a></li>
            <li><a th:href="@{#delete}">Delete</a></li>
            <li><a th:href="@{#randompicture}">RandomPicture</a></li>
        </ul>
    </nav>
</header>
<!-- 메인 세션 -->
<main>
    <!-- 검색 및 필터 -->
    <section id="search-filter">
        <div class="filter-container">
            <input type="text" placeholder="Search photos" class="search-input" th:value="${searchKeyword}">
            <select th:name="filter" th:value="${selectedFilter}">
                <option value="latest" th:selected="${selectedFilter == 'latest'}">최신</option>
                <option value="popular" th:selected="${selectedFilter == 'popular'}">인기</option>
                <option value="oldest" th:selected="${selectedFilter == 'oldest'}">옛날</option>
            </select>
            <button th:onclick="'search()'">Search</button>
        </div>
        <!-- 태그 섹션 -->
        <div class="tag-container">
            <h3>Tags:</h3>
            <div class="tags">
                <a th:each="tag : ${tags}" th:href="@{#}" th:text="${'#' + tag}"></a>
            </div>
        </div>
    </section>
    <!-- 인기 사진 -->
    <section id="popular-picture">
        <h2>Popular Pictures</h2>
        <div class="photo-list">
            <div class="photo-card" th:each="photo : ${photos}">
                <img th:src="@{${photo.imagePath}}" th:alt="${photo.description}">
                <p th:text="${photo.description}"></p>
                <textarea placeholder="댓글을 입력하세요"></textarea>
                <div class="button-group">
                    <button class="like-btn">🩷</button>
                    <button class="good-btn">👍🏻</button>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- 페이지네이션 -->
<section id="pagination">
    <div class="prev-container">
        <a th:each="pageNum : ${pages}" th:href="@{'/explore?page=' + pageNum}" th:text="${pageNum}"></a>
    </div>
</section>
<!-- 푸터 -->
<footer>
    &copy; 2025 Daegu Univ Open AI project, Group 3
</footer>
</body>
</html>