<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>업로드</title>
    <link rel="icon" th:href="@{/images/cameraIcon.png}">
    <link rel="stylesheet" th:href="@{/css/upload.css}">
    <script th:src="@{/js/upload.js}"></script>
</head>
<body>
<!-- 헤더 -->
<header class="header-main">
    <div class="logo">
        <input type="image" th:src="@{/images/cameraIcon.png}" alt="로고">
    </div>
</header>

<!-- 업로드 컨테이너 -->
<div class="upload-gn">
    <h2>파일 업로드</h2>
    <!-- 파일 업로드 폼 -->
    <form id="upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <label for="file">파일 선택:</label>
        <input type="file" id="fileInput" name="file" required>
        <button type="submit">업로드</button>
    </form>
</div>

<!-- 드래그 앤 드롭 업로드 -->
<div class="upload-box">
    <h2>드래그 앤 드롭</h2>
    <button class="btn-upload">파일 선택</button>
    <input class="btn-file d-none" type="file">
</div>

<!-- 푸터 -->
<footer>
    &copy; 2025 Daegu Univ Open AI project, Group 3
</footer>
</body>
</html>